<launch >

    <arg name="model" default="$(find robot_model_pkg)/urdf/robot_urdf.xacro"/>
    <param name="robot_description" textfile="$(find robot_model_pkg)/urdf/robot.urdf" />

    <param name="use_gui" value="true"/>

    <node name="joint_statepublisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_model_pkg)/rviz/robot.rviz" required="true" /> 

</launch>